@model Demo_Upload_Multiple_Images.Models.Sub_Images

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sub_Images</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.url_images)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_images)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
